.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Estilos para la página: */
body {
  /*Fuentes:*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.container {
  min-height: 1000px;
}

.titulo {
  font-size: 220%;
  color:rgb(107, 208, 255);
}

.subTitulo {
  font-size: 100%;
  color:white;
}

.encabezado {
  font-size: 280%;
  margin:auto;
  margin-top: 15px;;
  font-weight: bold;
  color:rgb(107, 208, 255);
}

.recuadro {
  box-shadow: 0px 0px 5px #444;
}

.form-labels {
    font-size: 120%;
    font-weight: 400;
    color: rgb(48 168 214);
}

.imagen-usuario{
    border-radius: 6px;
    border: 2px solid rgb(107, 208, 255);
    box-shadow: 0px 0px 5px rgb(224, 224, 224);
    margin: auto;
    width: 20%;
    height: 90px;
}

.labels-detalle-usuario{
    font-size: 100%;
    font-weight: bold;
    color: rgb(48 168 214);
    margin-right: 10px;
    display: inline;
}

#footer {
  background: #f7f7f7;
  width: 100%;
  height: 100px;
  line-height: 70px;
  color: #444;
  text-align: center;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.table-headers{
  text-align: center;
  font-weight: bold;
  color:rgb(107, 208, 255);
  font-size: 110%;
}

.table-body-label{
    text-align: center;
    color: black;
}
